@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'NotoSansLao';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url(/assets/font/NotoSansLao-Regular.ttf) format('truetype');
    };
    @font-face {
        font-family: 'NotoSansLaolooped';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/assets/font/NotoSansLaoLooped-Regular.ttf) format('truetype');
      }
  }